.component-2 {
    position: relative;
    @include has-covering-bg;
    background-image: url('../images/component-2/skyline.jpeg');
    min-height: 39.479vw;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    padding-top: 12.55vw;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 183px;

    .hero-contents {
        transform: translateX(.5vw);

        h1 {
            font-size: 74px;
            line-height: 88.8px;
            font-family: 'Montserrat';
            font-weight: 700;
            letter-spacing: -2px;
            margin-bottom: 2px;
        }
        h2 {
            font-size: 62px;
            font-weight: 200;
        }

        p {
            font-size: 20px;
            line-height: 24px;
            font-weight: 300;
            letter-spacing: -0.1px;
            margin-bottom: 40px;
        }

        .button {
            height: 45px;
            width: 145px;
            padding: 4px;
            display: inline-block;
            cursor: pointer;
            
            background-color: $secondary;

            button {
                cursor: pointer;
                display: block;
                background-color: inherit;
                color: inherit;
                text-transform: uppercase;
                font-weight: 700;
                height: 100%;
                width: 100%;
                border: 1px solid white;
            }
        }
    }

    .arrow {
        position: absolute;
        top: 40%;
        font-size: 40px;
        cursor: pointer;
    }
    .arrow-left {
        left: 1.5%;
    }
    .arrow-right {
        right: 1.5%;
    }
}