@media (max-width: 767px) {
    .component-2 {
        padding-top: 45px;
        padding-bottom: 58px;
        .hero-contents {
            h2 {
                font-size: 25px;
                line-height: 30px;
                margin-bottom: 0px;
            }
            h1 {
                font-size: 30px;
                line-height: 36px;
                letter-spacing: -0.5px;
                margin-bottom: 0px;
            }
            p {
                font-size: 9px;
                line-height: 10.8px;
                margin-bottom: 15px;
            }

            .button {
                width: 64px;
                height: 19px;
                padding: 1px;
                
                button {
                    font-size: 7px;
                }
            }
        }
    }
}