@media (max-width: 1024px) {
    .component-5 {
        padding: 0 16px;
        padding-top: 73px;
        .highlighted-heading {
            font-size: 29px;

            .underline {
                padding-top: 14px;
            }
            margin-bottom: 56px;
        }

        .image-grid {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 29.8vw);
            padding: 0 10px;
            gap: 2.6vw;

            .image-item {
                .icons {
                    transform: translate(-55%, -90%);
                    gap: 1.3vw;
                    .round-icon {
                        height: 4.81vw;
                        width: 4.81vw;
                        font-size: 2.35vw;
                        
                        &.hide-tablet, &.hide-desktop {
                            display: none;
                        }
                    }
                }

                .info {
                    padding-top: 5px;
                    h4 {
                        padding-right: 5px;
                        font-size: 1.56vw;
                    }
                    p {
                        font-size: 1.25vw;
                    }
                }
            }
        }
    }
}