@media (max-width: 767px) {
    .component-4 {
        padding-top: 40px;
        .highlighted-heading {
            font-size: 27px;
            line-height: 27px;
            .underline {
                margin-top: 3px;
                .line {
                    width: 30%;
                }
            }
            margin-bottom: 5px;
        }
        .container {
            gap: 40px;
            padding-bottom: 35px;
            .col {
                width: 90%;
                max-width: 280px;

                .col-img {
                    height: 137.3px;
                }

                h2 {
                    font-size: 18.96px;
                }
                p {
                    font-size: 13px;
                }
                
            }
        }
    }
}