@media (max-width: 1023px) {
    .component-6 {
        padding-top: 80px;
        padding-bottom: 82px;

        .highlighted-heading {
            font-size: 29px;
            margin-bottom: 55px;
        }

        .contact-container {
            .contact-info {
                width: 100%;
                padding: 0 25px 0px 20px;
                margin-bottom: 45px;
            }

            .contact-form {
                padding: 0 25px;
            }
        }
    }
}