@media (max-width: 767px) {
    .component-1 {
        .nav-container {
            padding: 8px 20px 17px 20px;
            .logo {
                margin-top: 7px;
                font-size: 27.22px;
                img {
                    height: 30px;
                }
            }
            .menu-button img {
                margin-top: 3px;
                display: block;
                width: 48px;
                height: 31px;
            }
        }
    }
}