@media (max-width: 1024px) {
    .component-1 {
        .nav-container {
            padding-right: 25px;
            padding-left: 25px;
            padding-bottom: 32px;
            ul {
                display: none;
            }

            .menu-button {
                margin-top: 7px;
                display: block;
                cursor: pointer;
            }
        }
    }
}