$bg-dark: #000;
$bg-dark-op: rgba(0, 0, 0, 0.6);
$bg-dark-op-9:  rgba(0, 0, 0, 0.7);
$primary-text: #FFF;
$secondary: #3AB6B2;
$underline-gray: #D3D3D3;
$cmp-3-dark: #323232;
$cmp-3-gray: #6A6A6A;
$cmp-3-icon-bg: #3B3B3B;
$input-border: #D4D4D4;
$footer-bg: #111111;
$social-bg: #252525;
$copyright-text: #FEFEFE;